.hidden {
  display: none;
}
/* .card , .special {
  background-color: 'white';
  color: 'black';
  border: 1px solid black;
  box-shadow: 1px 1px 5px black;
  letter-spacing: .1em;
}
.special {
  margin: 1em;
} */
.special {
  margin-bottom: 0.5em;
}
.card button {
  background-color: white;
  border-radius: 5px;
  padding: 0.5em;
}
.card {
  display: inline-block;
  background-color: white;
  margin-left: -25px;
  border-radius: 5px;
  opacity: 1;
  transition: all 0.25s linear;
}
.enabled button {
  background-color: rgba(0,0,0,0);
}
.disabled button {
  background-color: rgba(0,0,0,0.15);
}
img {
  width: 75px;
  border: none;
}
.playedCards {
  min-height: 10vh;
}
.timer {
  font-size: 2em;
  color:  white;
}
.active {
  font-weight: 800;
  color: black;
}
.inactive {
  font-weight: 200;
  color: lightgrey;
}
.prev_ranking {
  font-size: 0.8rem;
  font-weight: 200;
  color: lightgrey;
}
.top_card {
  margin-left: 5px;
  margin-top: 5px;
  z-index: 2;
  background-color: white;
  border: 1px solid black;
  padding: 1px;
  border-radius: 2px;
}
.bottom_card{
  position: absolute;
  z-index: -1;
}
.pile {
  display: inline-block;
  padding: 4px;
}
.completion {
  /* animate! */
}

#go {
  margin-left: 0;
}
#leave {
  margin-left: 10px;
  margin-bottom: 1em;
}
.tableButtons {
  border: 2px solid #1D976C;
  border-radius: 3px;
  padding: 0.2em 1em;
  color: white;
  font-size: 1.1rem;
  background-color: rgba(0,0,0,.75);
  transition: all 0.25s linear;
}
.tableButtons:enabled {

}
.tableButtons:enabled:hover {
  transition: all 0.25s linear;
  background-color: black;
  color: #93F9B9;
  border: 2px solid #93F9B9;
}
.tableButtons:disabled {
  /* transition: all 0.25s linear; */
  color: #93F9B9;
}
.table {
  /* background: linear-gradient(#1D976C,#93F9B9); */
  background: linear-gradient(to left, rgba(147,249,185,0.75), rgba(29,151,108,0.25));
  border: 1px solid #1D976C;
  box-shadow: 0px 0px 2px black;
  border-radius: 5px;
  padding-bottom: 1em;
  padding: 1em !important;
  box-sizing: border-box !important;
}
.table .tableButtons {
  background-color: rgba(255,255,255,0.5);
  color: #1D976C;
}
.table .tableButtons:enabled:hover {
  transition: all 0.25s linear;
  background-color: rgba(0,0,0,0.5);
  color: #93F9B9;
  border: 2px solid #93F9B9;
}
.GameBoard .tableButtons {
  background-color: rgba(255,255,255,0.5);
  color: #1D976C;
}
.GameBoard .tableButtons:enabled:hover {
  transition: all 0.25s linear;
  background-color: rgba(0,0,0,0.5);
  color: #93F9B9;
  border: 2px solid #93F9B9;
}
.tableRow {
  padding-top: 2em;
}
.title {
  /* color: rgba(255,255,255,.85); */
  color: white;
}
.myTurn {
  color: white;
}
.playedCards {
  min-height: 20vh;

}
